language: java
install: mvn install -DskipTests=true -Dmaven.javadoc.skip=true -Dgpg.skip=true -B -V
jdk:
  - oraclejdk7
  - openjdk7
notifications:
  email:
    on_success: never
    on_failure: always